/* On deck info container. */
.on-deck-info-container {
	/* font-family: 'Swagger Bold'; */
	font-family: 'Comic Sans Bold';
	display: inline-block;
	width: 1500px;
	line-height: 70px;
	position: absolute;
	color: black;
	
	padding-left: 5px;
	padding-right: 5px;
	
}

/* On deck info panel 1. */
#on-deck-info-container1 {
	top: 140px;
	left: 210px;
}

/* On deck info panel 2. */
#on-deck-info-container2 {
	top: 340px;
	left: 210px;
}

/* On deck info panel 3. */
#on-deck-info-container3 {
	top: 540px;
	left: 210px;
}

/* Info panel options. Don't change unless you know what you're doing! */
.info {
	margin-top: 3px;
	font-size: 80px;
	font-stretch: semi-condensed;
	float: left;
	vertical-align: top;
	width: 100%;
	flex: 1;
}

.tech-info-container {
	display: flex;
	font-stretch: normal;
	width: 100%;
}

.tech-info-label {
	display: inline-block;
	vertical-align: bottom;
}

.tech-info {
	display: inline-block;
	font-stretch: normal;
	margin-top: 6px;
}

.tech-info-label img {
	height: 35pt;
	width: 100%;
	margin-top: 30px;
}

.on-deck-start {
	display: inline-block;
	font-stretch: normal;
	width: 70%;
	margin-top: 18px;
	margin-left: 10px;
	font-size: 35pt;
}

.on-deck-channel {
	display: inline-block;
	font-stretch: normal;
	margin-top: 18px;
	margin-left: 10px;
	font-size: 35pt;
}